<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SportsScoreTracker.DataAccessLayer.Properties.Settings.SportsTrackerConnectionString"
            connectionString="Data Source=c0bra99.is-a-geek.com;Initial Catalog=SportsTracker;User ID=SportsTracker"
            providerName="System.Data.SqlClient" />
        <add name="SportsScoreTracker.DataAccessLayer.Properties.Settings.SportsTrackerConnectionString1"
            connectionString="Data Source=c0bra99.is-a-geek.com;Initial Catalog=SportsTracker;Persist Security Info=True;User ID=SportsTracker;Password=sportstrackersecure-password1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>